.footer {
  background-color: #205cf1;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding-left: 40px;
  padding-right: 40px;
}

.copyright-footer {
  font-size: 0.8rem;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}
