.navbar__container {
  background: #fff;
  width: 100%;
  color: #205cf1;
  padding: 12px 0;
  position: absolute;
  top: 0;
  z-index: 1000;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: -9px 19px 51px -14px rgba(0, 0, 0, 0.45);
}

.navbar__left {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar__logo__container {
  width: 20%;
  display: flex;
  justify-content: center;
}

.navbar__logo {
  width: 64px;
  object-fit: cover;
}

.navbar__title {
  max-width: 70%;
  text-align: center;
}
