.header {
  background-color: #205cf1;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
}

.header-container {
  margin-top: -30px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  user-select: none;
}

/* location */
.location {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: white;
}
.location-icon {
  width: 5rem;
}
.location-text {
  font-size: 1.5rem;
  line-height: normal;
  align-items: center;
  /* margin: 0 0 2px 0; */
}

/* figure list */
.figure-list {
  list-style-type: none;
  display: table-column;
}

.list-item {
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 50px 10px;
  margin: 20px 2px;
  border-radius: 10px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s linear;
}
.list-item:hover {
  transform: translateY(-3px);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.list-item-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.list-item-number {
  font-family: "Dosis", sans-serif;
  font-size: 1.2rem;
}
.list-item-number span {
  margin-right: 4px;
}
.icon {
  width: 6rem;
  height: 6rem;
}
